.button {
  background-color: #004aad;
  border-radius: 10px;
  font-weight: 700;
  padding: 32px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  color: #fff;
  margin: 32px 0px;
}

.button:hover {
  background-color: #1c5aac;
}
