.page-footer {
  background: #77adc4;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer ul li {
  display: inline-block;
  margin-right: 32px;
}

.page-footer ul li:last-child {
  margin-right: 0;
}
